<div class=" col-lg-12 col-md-12">
    <br />
    <table class="table table-bordered table-hove">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DueDate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in tasks track by $index">

            <td>{{$index + 1}}</td>
            <td>{{t.Name}}</td>
            <td>{{t.DueDate | date}}</td>
            <td>
                <a href="/#!/taskdetails/{{t.Id}}" class="glyphicon glyphicon-edit" style="text-decoration:none"></a>
                &nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0)" ng-click="remove(t)" class="glyphicon glyphicon-trash" style="text-decoration:none"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>